
/client/.idea/
/client/e2e/
/client/node_modules/
/client/client.iml
.idea/compiler.xml
.idea/copyright/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/libraries/Spring_boot_1_8.xml
.idea/libraries/Spring_boot_1_81.xml
.idea/libraries/Spring_boot_1_82.xml
.idea/libraries/Spring_boot_1_83.xml
.idea/libraries/assets.xml
.idea/libraries/assets1.xml
.idea/misc.xml
.idea/modules.xml
.idea/typescript-settings.xml
.idea/workspace.xml
db/db.iml
/api/.idea/
api/target/
.idea/inspectionProfiles/
