<div>
  <ul class="nav nav-pills nav-stacked">
    <div class="container">
      <div class="row">
        <div class="panel panel-default" col-md-8 col-xs-2>
          <table class="table table-striped" cursor>
            <caption>Top Genres</caption>
            <tr>
              <td>
                №
              </td>
              <td>
                Name
              </td>
              <td>
                Likes
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
            <tr *ngFor="let genre of genres; let num=index" (click)="onSelect(genre)"
                [class.selected]="genre === selectedGenre">
              <td>
                {{num+1}}
              </td>
              <td>
                {{genre.name}}
              </td>
              <td>
                {{genre.rating}}
              </td>
              <td>
                <button class="btn btn-warning"
                        (click)="gotoDetail(genre); $event.stopPropagation()">view Films
                </button>
              </td>
              <td>
                <button class="btn btn-danger"
                        (click)="delete(genre); $event.stopPropagation()">Delete
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </ul>
</div>
