<h2>Top Genres</h2>
<ul class="nav nav-pills nav-stacked">
  <li *ngFor="let genre of genres" (click)="onSelect(genre)"
      [class.selected]="genre === selectedGenre">
    <span class="badge">{{genre.rating}}</span>
    <span>{{genre.name}}</span>
  </li>
</ul>
<button (click)="view(selectedView)">Add new Genre</button>

<div *ngIf="selectedView">
  <label>name:</label> <input #name/><br>
  <button (click)="add(name.value);name.value=''">
    Add
  </button>
</div>
<div *ngIf="selectedGenre">
  <h2>
    {{selectedGenre.name | uppercase}} have rating {{selectedGenre.rating}}
  </h2>
  <button (click)="gotoDetail()">View Films</button>
  <button class="delete"
          (click)="delete(selectedGenre); $event.stopPropagation()">x
  </button>
</div>
