<!--<nav>-->
  <!--<ul class="nav nav-tabs">-->
    <!--<li role="presentation" class="active"><a href="/movies">Movies</a></li>-->
    <!--<li role="presentation"><a href="/genre">Genre</a></li>-->
  <!--</ul>-->
  <!--<a routerLink="/movies" routerLinkActive="active">Movies</a>-->
  <!--<a rougenreterLink="/" routerLinkActive="active">Genre</a>-->
  <!--<alert type="success">hello</alert>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
<!--<nav class="navbar navbar-default">-->
  <!--<div class="container">-->
    <!--<input type="checkbox" id="navbar-toggle-cbox">-->
    <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand" href="/">Top</a>-->
    <!--</div>-->
     <!--Collect the nav links, forms, and other content for toggling -->
    <!--<div class="collapse navbar-collapse">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li><a routerLink="movies">Movies <span class="sr-only">(current)</span></a></li>-->
        <!--<li><a routerLink="genre">Genres</a></li>-->
      <!--</ul>-->
      <!--&lt;!&ndash;<form class="navbar-form navbar-left">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
          <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Search">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<button type="submit" class="btn btn-default">Submit</button>&ndash;&gt;-->
      <!--&lt;!&ndash;</form>&ndash;&gt;-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a routerLink="/">Home</a></li>-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
  <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->
<nav class="navbar navbar-default">
<div class="container">
  <input type="checkbox" id="navbar-toggle-cbox">
  <div class="navbar-header">
    <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </label>
    <!--<a class="navbar-brand" href="#">Project name</a>-->
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a routerLink="movies">Movies <span class="sr-only">(current)</span></a></li>
      <li><a routerLink="genre">Genres</a></li>
    </ul>
    <!--<ul class="nav navbar-nav navbar-right">-->
    <!--</ul>-->
  </div>
</div>
</nav>
<router-outlet></router-outlet>

