<nav class="navbar navbar-default">
<div class="container">
  <input type="checkbox" id="navbar-toggle-cbox">
  <div class="navbar-header">
    <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </label>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a routerLink="movies">Movies <span class="sr-only">(current)</span></a></li>
      <li><a routerLink="genre">Genres</a></li>
    </ul>
  </div>
</div>
</nav>
<router-outlet></router-outlet>

